@model AccountIndexViewModel

@{
	ViewData["Title"] = "Login";
}

<div class="d-flex flex-wrap align-items-center justify-content-center text-center row mt-5 mb-5">
	<div class="form-signin col-5 m-auto">
		<form asp-controller="Account" asp-action="Login" method="post" enctype="multipart/form-data">
			<img class="mb-4" src="~/img/assets/logo.svg" alt="" width="150" height="150">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

			<div class="form-floating mb-3" >
				<input asp-for="Username" type="text" class="form-control @Model.IsValid" id="floatingInput" placeholder="Username">
				<label asp-for="Username" for="floatingInput">Username</label>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Password" type="password" class="form-control @Model.IsValid" id="floatingPassword" placeholder="Password">
				<label asp-for="Password" for="floatingPassword">Password</label>
			</div>

			<div class="mb-3">
				<label>
					@* <input hidden asp-for="IsValid"/> *@
					<div asp-validation-summary="All" class="text-danger"></div>
				</label>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		</form>
	</div>
</div>
