@model Product

@{
	ViewData["Title"] = "Edit product";
}

<h1>Edit product</h1>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
	<input hidden asp-for="Id"/>
	<input hidden asp-for="ImageId"/>
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input class="form-control" asp-for="Name">
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Description" class="form-label"></label>
		<input class="form-control" asp-for="Description">
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="StorageId" class="form-label"></label>
		<select class="form-select" asp-for="StorageId" asp-items="ViewBag.StorageId"></select>
		<span asp-validation-for="StorageId" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Price" class="form-label"></label>
		<input class="form-control" asp-for="Price">
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>

	<div class="pt-3">
		<input type="submit" class="btn btn-primary" value="Save"/>
		<a class="btn btn-danger ms-3" asp-controller="Products" asp-action="Edit">Cancel</a>
	</div>
</form>
