@model ProductListViewModel

@{
    ViewData["Title"] = "Products";
}

<h1 class="mb-3">All products</h1>
@{
	foreach(var product in Model.Products)
	{
		<div>
			<h3>Name: @product.Name</h3>
			<p>Price: @product.Price.ToString("c")</p>
		</div>
	}
}
