@{
	ViewData["Title"] = "Home Page";
}

<div class="p-4 p-md-5 mb-4 rounded bg-dark text-white">
	<div class="col-md-6 px-0">
		<h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
		<p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
	</div>
</div>
<div class="row mb-2">
	<a class="col-md-6 text-decoration-none" href="/Products/List">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-primary">Products</strong>
				<h3 class="mb-0 text-black">Featured post</h3>
				<p class="card-text mb-auto text-black">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
			</div>
			<div class="col-auto d-none d-lg-block">
				<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#0d6efd"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
				</svg>
			</div>
		</div>
	</a>
	<a class="col-md-6 text-decoration-none" href="/Orders/List">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-success">Orders</strong>
				<h3 class="mb-0 text-black">Featured post</h3>
				<p class="card-text mb-auto text-black">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
			</div>
			<div class="col-auto d-none d-lg-block">
				<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#198754"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
				</svg>
			</div>
		</div>
	</a>

	<a class="col-md-6 text-decoration-none" href="/Customers/List">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-danger">Customers</strong>
				<h3 class="mb-0 text-black">Featured post</h3>
				<p class="card-text mb-auto text-black">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
			</div>
			<div class="col-auto d-none d-lg-block">
				<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#DC3545"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
				</svg>
			</div>
		</div>
	</a>
	<a class="col-md-6 text-decoration-none" href="/">
    		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    			<div class="col p-4 d-flex flex-column position-static">
    				<strong class="d-inline-block mb-2 text-warning">Reports</strong>
    				<h3 class="mb-0 text-black">Featured post</h3>
    				<p class="card-text mb-auto text-black">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    			</div>
    			<div class="col-auto d-none d-lg-block">
    				<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
    					<title>Placeholder</title><rect width="100%" height="100%" fill="#ffc107"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
    				</svg>
    			</div>
    		</div>
    	</a>
</div>

@* <h1>Home</h1> *@
@* *@
@* <partial name="_Menu" /> *@
@* <partial name="_UserInfo" /> *@
