<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom">
	<a asp-controller="Home" asp-action="Index" class="d-flex align-items-center col-md-auto me-2 mb-md-0 text-dark text-decoration-none">
		<img src="~/img/assets/logo.svg" alt="" width="40" height="40">
	</a>

	<ul class="nav justify-content-center">
		<li>
			<a asp-controller="Products" asp-action="Index" class="nav-link px-2 link-dark">Products</a>
		</li>
		<li>
			<a asp-controller="Orders" asp-action="Index" class="nav-link px-2 link-dark">Orders</a>
		</li>
		<li>
			<a asp-controller="Customers" asp-action="Index" class="nav-link px-2 link-dark">Customers</a>
		</li>
		<li>
			<a asp-controller="Reports" asp-action="Index" class="nav-link px-2 link-dark">Reports</a>
		</li>
	</ul>

	<div class="col text-end">
		@{
			if (User.IsInRole("Administrator"))
			{
				<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary me-2">Register new user</a>
			}
		}
		@{
			if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Account" asp-action="Index" class="btn btn-primary me-2">Account</a>
				<a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>
			}
		}
	</div>
</header>


	@* <a class="navbar-brand" asp-controller="Home" asp-action="Index"> *@
	@* 	<img src="~/img/assets/logo.svg" alt="" width="40" height="40"> *@
	@* </a> *@
	@* <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation"> *@
 @*            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-list" viewBox="0 0 16 16"> *@
 @*              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/> *@
 @*            </svg> *@
 @*          </button> *@
 @* *@
	@* <div class="collapse navbar-collapse" id="navbarsExample07"> *@
	@* 	<ul class="navbar-nav me-auto mb-2 mb-lg-0"> *@
	@* 		<li class="nav-item"> *@
	@* 			<a asp-controller="Products" asp-action="Index" class="nav-link px-2 link-dark">Products</a> *@
	@* 		</li> *@
	@* 		<li class="nav-item"> *@
	@* 			<a asp-controller="Products" asp-action="Index" class="nav-link px-2 link-dark">Products</a> *@
	@* 		</li> *@
	@* 		<li class="nav-item"> *@
	@* 			<a asp-controller="Products" asp-action="Index" class="nav-link px-2 link-dark">Products</a> *@
	@* 		</li> *@
	@* 	</ul> *@
	@* 	<div class="dropdown"> *@
	@* 		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Manage account</a> *@
	@* 		<ul class="dropdown-menu"> *@
	@* 			<li> *@
	@* 				$1$ <a class="dropdown-item" href="#">Action</a> #1# *@
	@* 				<a asp-controller="Account" asp-action="Index" class="dropdown-item btn btn-primary me-2">Account</a> *@
	@* 			</li> *@
	@* 			<li> *@
	@* 				$1$ <a class="dropdown-item" href="#">Action</a> #1# *@
	@* 				<a asp-controller="Account" asp-action="Index" class="dropdown-item btn btn-primary me-2">Account</a> *@
	@* 			</li> *@
	@* 		</ul> *@
	@* 	</div> *@
	@* </div> *@
