<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="logo d-flex flex-wrap align-items-center justify-content-center border-bottom bg-primary py-3">
	<p class="text-white mb-0">TradeSup</p>
</div>
<div class="container">
	<header class="d-flex flex-wrap row justify-content-center py-3 mb-4 border-bottom">
		<ul class="nav nav-pills d-flex flex-wrap align-items-center justify-content-center">
			<li class="nav-item">
				<a asp-controller="Products" asp-action="List" class="nav-link" aria-current="page">Products</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Orders" asp-action="List" class="nav-link">Orders</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Customers" asp-action="List" class="nav-link">Customers</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Home" asp-action="Index" class="nav-link">Reports</a>
			</li>
		</ul>
	</header>
</div>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div class="container">
	<main role="main" class="pb-3 border-bottom">
		@RenderBody()
	</main>
</div>
<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center pb-3 mb-3">
			<li class="nav-item">
				<a asp-controller="Products" asp-action="List" class="nav-link px-2 text-muted">Products</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Orders" asp-action="List" class="nav-link px-2 text-muted">Orders</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Customers" asp-action="List" class="nav-link px-2 text-muted">Customers</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-muted">Reports</a>
			</li>
		</ul>
		<p class="text-center text-muted">© 2022 Furniture Store, Inc</p>
	</footer>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/index.js"></script>
</body>
</html>
