@* <a asp-controller="Home" asp-action="Index">[Home]</a> *@
@* <a asp-controller="Account" asp-action="Index">[Secured Zone]</a> *@
@* @if (User.Identity.IsAuthenticated) *@
@* { *@
@* 	<a asp-controller="Account" asp-action="Administrator">[Administrator]</a> *@
@* 	<a asp-controller="Account" asp-action="User">[User]</a> *@
@* 	<a asp-controller="Account" asp-action="Logout">[Log out]</a> *@
@* } *@
